html {
    scroll-behavior: smooth;
}

body {
    padding: 20px;
    background: #7C5E38;
    font-family: Roboto, Arial, Verdana;
    overflow-x: hidden;
}

main {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    background: #E2DDD2;
}

.w1140 {
    width: 100%;
    max-width: 1140px;
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute;
}

.fixed-top {
    display: block;
    margin: 40px;
}

.carousel-item {
    height: 54vw;
}

.slide1 {
    background: url("../pic/slide1.jpg");
    background-position: center center;
    background-size: 100%;
}

.carousel-caption {
    bottom: 6vw !important;
    margin: auto 0;
}

.slide1 label {
    margin-top: auto;
    color: #ffffff;
    font-size: 12vw;
    text-transform: uppercase;
    font-weight: 800;
}

.slide1 p {
    font-weight: 200;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.fej {
    position: absolute;
    display: block;
    background: url("../pic/fej1.png");
    background-position: center center;
    background-size: 100%;
    top: -18vw;
    left: 26vw;
    width: 31vw;
    height: 32vw;
}


@media (max-width: 1450px) {
    .carousel-item {
        height: 60vw;
    }

    .slide1 {
        background-size: cover;
    }

    .carousel-caption {
        bottom: 10vw !important;
    }

    .slide1 label {
        font-size: 13vw;
    }

    .fej {
        top: -22vw;
        left: 25vw;
        width: 34vw;
        height: 36vw;
    }

    .w1140 {
        width: 80% !important;
    }

}

@media (max-width: 922px) {
    .fej {
        top: -16vw;
        left: 25vw;
        width: 34vw;
        height: 36vw;
    }

}

@media (max-width: 992px) {
    .navbar-nav {
        background: #C0A783;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

    .nav-item {
        text-align: center;
        border-bottom: 1px solid #af8e5e;
    }

    .frame {
        height: 80% !important;
        width: 80% !important;
    }
}

@media (max-width: 766px) {
    .frame {
        height: 100% !important;
        width: 100% !important;
    }
}

@media (max-width: 722px) {
    .carousel-item {
        height: 60vw;
    }

    .slide1 {
        background-size: cover;
    }

    .carousel-caption {
        bottom: 6vw !important;
    }

    .slide1 p {
        font-size: 3vw;
    }

    .fej {
        top: -16vw;
        left: 25vw;
        width: 34vw;
        height: 36vw;
    }

    .frame {
        max-height: 90% !important;
        width: 80% !important;
    }

    h2 {
        font-weight: 800 !important;
        font-size: 48px !important;
    }
}


.logo {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}

.menu-item {
    color: #ffffff;
    font-size: 20px;
}

.menu-item:hover {
    color: #800000;
    font-size: 20px;
}

.navbar-toggler {
    color: #ffffff;
    border: 1px solid #ffffff;
}

/* - foto -*/

.foto {
    max-width: 500px;
    max-height: 500px;
    margin-left: 10%;
    margin-bottom: 40px;
}

.frame {
    border: 1px solid #C0A783;
    position: absolute;
    display: block;
    margin-left: -5%;
    margin-top: 5%;
    max-width: 445px;
    max-height: 445px;
    height: 90%;
    width: 80%;
}

.frame-ext {
    border: 1px solid #C0A783;
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
}

h2 {
    font-weight: 800 !important;
    font-size: 64px;
    line-height: 96px;
    color: #800000;
}

.lead {
    color: #000000;

}

/* - Blog - */

#qbootstrap-blog {
    position: relative;
    padding: 10em 0 10em 0;
}

#qbootstrap-blog h2 {
    width: 100% !important;
}

#qbootstrap-blog .blog-slide {
    position: relative;
}

#qbootstrap-blog .blog-slide .blog-box {
    display: block;
    width: 100%;
    height: 380px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;

}

#qbootstrap-blog .blog-slide .news-box {
    display: block;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;

}
#qbootstrap-blog .blog-slide .blog-box .kutya-foto {
    width: 260px;
    height: auto;
    margin: 20px 20px 40px 45px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

#qbootstrap-blog .blog-slide .news-box .news-foto {
    width: 260px;
    height: auto;
    border-radius: 130px;
    margin: 20px 20px 40px 45px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

#qbootstrap-blog .blog-slide .news-box:hover {
    text-decoration: none;
}

#qbootstrap-blog .blog-slide .news-box .kutya-text span {
    color: #800000;
    font-weight: 600;
    margin: 0 0 0 80px;
    font-size: 1.4em;
}

#qbootstrap-blog .blog-slide .news-box .kutya-text h3 {
    margin: 0 0 0 80px;
}

#qbootstrap-blog .blog-slide .blog-box .kutya-decor {
    width: 278px;
}

#qbootstrap-blog .blog-slide .news-box .kutya-decor {
    width: 278px;
}

.kutya-text {
    margin: 10px 10px 10px 40px;
}

.kutya-text h3 {
    color: #F8A844;
}

.btn {
    background: transparent !important;
    border: 1px solid #C0A783 !important;
    border-radius: 0px !important;
    margin: 10px;
    color: #800000;
}

.btn-primary {
    background: #F8A844 !important;
    border: 1px solid #F8A844 !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(128, 0, 0, 1) !important;
}

.contact {
    display: block;
    padding: 60px 0 60px 0;
}

.hol {
    background: #F8A844 !important;
    color: #fff;
    border: 1px solid #F8A844 !important;
    border-radius: 12px !important;
    padding: 12px 24px !important;
}

.hol:hover {
    background: #7C5E38 !important;
}

.footer {
    color: #E2DDD2;
    margin-top: 40px;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #C0A783;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}

.social-icons i {
    font-size: 20px;
    margin: 12px;
}

#topBtn:hover {
    background-color: #800000;
}


/* anim */

.poligon1 {
    position: absolute;
    right: 40vw;
    top: 60vw;
    width: 70px;
    height: 70px;
    -webkit-animation: poligon-1 10s linear infinite;
    -moz-animation: poligon-1 10s linear infinite;
    animation: poligon-1 10s linear infinite;
}

@-moz-keyframes poligon-1 {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes poligon-1 {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes poligon-1 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.poligon2 {
    position: absolute;
    right: 80vw;
    top: 120vw;
    width: 90px;
    height: 90px;
    opacity: 0.5;
    -webkit-animation: poligon-2 20s linear infinite;
    -moz-animation: poligon-2 20s linear infinite;
    animation: poligon-2 20s linear infinite;
}

@-moz-keyframes poligon-2 {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes poligon-2 {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes poligon-2 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.kor1 {
    position: absolute;
    right: 32vw;
    top: 62vw;
    width: 20px;
    height: 20px;
    opacity: 1.0;
}

.kor2 {
    position: absolute;
    right: 34em;
    top: 60em;
    width: 30px;
    height: 30px;
    opacity: 1.0;
}

.wave {
    border: 1px solid #7C5E38;
    width: 450vw;
    height: 200vw;
    animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.swell {
    border: 16px solid #7C5E38;
    width: 350vw;
    height: 908px;
    animation: swell 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    opacity: 0.1;
}

@keyframes wave {
    0%, 100% {
        margin-left: -500px;
    }
    50% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(-405px, 0, -200px);
    }
    50% {
        transform: translate3d(-300px, 0, -10px);
    }
}